body {
    margin: 0;
    margin-top: 50px;
    font-family: tahoma;
    background-color: #e6e6e6;
}

section {
    height: 18vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#TitleOne h1 {
    font-size: 3em;
}

.inputBox {
    position: center;
    width: 43%;
    height: 60px;
    border: none;
    margin: 15px 0 20px;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 2px;
    box-sizing: border-box;
    border-radius: 8px;

}